* {
    margin: 0;
    padding: 0;
    font: inherit;
}
body {
    height: 100vh;

    background-color: #131312;
    /* font-family: "roboto"; */
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
ul,
li {
    list-style-type: none;
}
a {
    text-decoration: none;
}
header {
    position: relative;
    /* width: 85%;
    height: 95%; */
    height: 100%;
    max-width: 1920px;
    width: 100%;
    /* border: 1px solid #fff; */
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
}
header .menu_side,
.song_side {
    position: relative;
    width: 25%;
    height: 90%;
    /* border: 1px solid #fff; */
    background-color: #111727;
    box-shadow: 5px 0 2px #090f1f;
    color: #fff;
}
header .song_side {
    width: 75%;
    background-color: #0b1320;
}

header .master_play {
    z-index: 99;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 10%;
    background-color: #111727;
    box-shadow: 0 3px 8px #090f1f;
}
header .menu_side a h1 {
    font-weight: 500;
    color: #fff;
    font-size: 20px;
    margin: 15px 0 0 20px;
}
header .menu_side .playlist {
    margin: 40px 0 0 20px;
}
header .menu_side .playlist h4 {
    font-size: 14px;
    font-weight: 400;
    padding-bottom: 10px;
    color: #4c5262;
    cursor: pointer;
    display: flex;
    align-items: center;
    transition: 0.3s linear;
}
header .menu_side .playlist h4:hover {
    color: #fff;
}
header .menu_side .playlist h4 span {
    position: relative;
    margin-right: 35px;
}
header .menu_side .playlist h4 span::before {
    position: absolute;
    content: "";
    width: 4px;
    height: 4px;
    border: 2px solid #4c5262;
    border-radius: 50%;
    top: -4px;
    transition: 0.3s linear;
}
header .menu_side .playlist h4:hover span::before {
    border: 2px solid #fff;
}
header .menu_side .playlist h4 .bi {
    display: none;
}
header .menu_side .playlist .active {
    color: #36e2ec;
}
header .menu_side .playlist .active span {
    display: none;
}
header .menu_side .playlist .active .bi {
    display: flex;
    margin-right: 20px;
}
header .menu_side .menu_song {
    /* width: calc(100%-1px); */
    width: 100%;
    height: 300px;
    overflow-x: hidden;
    -ms-overflow-style: none;
    scrollbar-width: none;
    /* border: 1px solid #fff; */
    margin-top: 40px;
}

header .menu_side .menu_song::-webkit-scrollbar {
    display: none;
}
header .menu_side .menu_song li {
    list-style-type: none;
    padding: 5px 0 5px 20px;
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    cursor: pointer;
    transition: 0.3s linear;
}
header .menu_side .menu_song li:hover {
    background-color: rgb(105, 105, 170, 0.1);
}
header .menu_side .menu_song li span {
    font-size: 12px;
    font-weight: 600;
    color: #4c5262;
}
header .menu_side .menu_song li img {
    width: 32px;
    height: 32px;
    margin-left: 25px;
}
header .menu_side .menu_song li h5 {
    font-size: 11px;
    margin-left: 15px;
}
header .menu_side .menu_song li h5 .subtitle {
    font-size: 9px;
    color: #4c5262;
}
header .menu_side .menu_song li .bi {
    position: absolute;
    right: 15px;
    top: 12px;
    font-size: 16px;
}
header .master_play {
    display: flex;
    align-items: center;
    padding: 0 20px;
}
header .master_play .wave,
.active2 {
    width: 30px;
    height: 30px;
    /* border: 1px solid #fff; */
    padding-bottom: 5px;
    display: flex;
    align-items: flex-end;
    margin-right: 10px;
}
header .master_play .wave .wave1 {
    width: 3px;
    height: 10px;
    margin-right: 3px;
    border-radius: 10px 10px 0 0;
    background-color: #36e2ec;
    /* animation: wave 1.5s linear infinite; */
    animation: unset;
}
header .master_play .wave .wave1:nth-child(2) {
    height: 13px;
    /* animation-delay: 1.4s; */
}
header .master_play .wave .wave1:nth-child(3) {
    height: 8px;
    /* animation-delay: 1.8s; */
}
header .master_play .active2 .wave1 {
    animation: wave 1.5s linear infinite;
}
header .master_play .active2 .wave1:nth-child(2) {
    animation-delay: 1.4s;
}
header .master_play .active2 .wave1:nth-child(3) {
    animation-delay: 1.8s;
}
@keyframes wave {
    0% {
        height: 10px;
    }
    50% {
        height: 15px;
    }
    100% {
        height: 10px;
    }
}
header .master_play img {
    width: 35px;
    height: 35px;
}
header .master_play .info_ns {
    /* margin-left: 10px; */
    display: flex;
    flex-direction: column;
}
header .master_play h5 {
    width: 130px;
    font-size: 13px;
    margin-left: 15px;
    color: #fff;
    line-height: 15px;
}
header .master_play .subtitle {
    font-size: 11px;
    margin-left: 15px;
    color: #4c5262;
    /* line-height: 15px; */
}
header .master_play .icon {
    font-size: 20px;
    /* margin-left: 15px; */
    color: #fff;
    /* line-height: 15px; */
    margin: 0 20px 0 40px;
}
header .master_play .icon .bi {
    cursor: pointer;
    outline: none;
}
header .master_play .icon .bi:nth-child(2) {
    border: 1px solid rgb(105, 105, 170, 0.1);
    border-radius: 50%;
    padding: 1px 3px 0 6px;
    margin: 0 5px;
    transition: 0.3s linear;
}
header .master_play span {
    color: #fff;
    width: 32px;
    font-size: 11px;
    font-weight: 400;
}
header .master_play span #currentStart {
    margin: 0 0 0 20px;
}
header .master_play .bar {
    position: relative;
    width: 43%;
    height: 2px;
    background-color: rgb(105, 105, 170, 0.1);
    margin: 0 15px 0 10px;
}
header .master_play .bar .bar2 {
    position: absolute;
    background: #36e2ec;
    width: 0%;
    height: 100%;
    top: 0;
    transition: 1s linear;
}
header .master_play .bar .dot {
    position: absolute;
    width: 5px;
    height: 5px;
    background: #36e2ec;
    border-radius: 50%;
    left: 0;
    top: -1px;
    transition: 1s linear;
}
header .master_play .bar .dot::before {
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    border: 1px solid #36e2ec;
    border-radius: 50%;
    left: -6px;
    top: -6px;
    box-shadow: inset 0 0 3px #36e2ec;
    transition: 1s linear;
}
header .master_play .bar input {
    position: absolute;
    width: 100%;
    top: -6px;
    left: 0;
    cursor: pointer;

    z-index: 99;
    transition: 3s linear;
    opacity: 0;
}
audio {
    width: 100%; /* Rộng 100% của phần tử chứa */
    margin: 10px 0; /* Khoảng cách giữa các thẻ audio */
}

/* Định dạng nút controls */
audio::-webkit-media-controls-panel {
    background-color: #fff; /* Màu nền của controls */
    border-radius: 0px;
}

header .master_play .vol {
    position: relative;
    width: 100px;
    height: 2px;
    margin-left: 50px;
    background: rgb(105, 105, 170, 0.1);
}
header .master_play .vol .bi {
    position: absolute;
    color: #fff;
    font-size: 25px;
    top: -12px;
    left: -32px;
}
header .master_play .vol input {
    position: absolute;
    width: 100%;
    top: -10px;
    left: 0;
    cursor: pointer;

    z-index: 99;
    transition: 3s linear;
    opacity: 0;
}
header .master_play .vol .vol_bar {
    position: absolute;
    background: #36e2ec;
    width: 0%;
    height: 100%;
    top: 0;
    transition: 1s linear;
}
header .master_play .vol .dot {
    position: absolute;
    width: 5px;
    height: 5px;
    background: #36e2ec;
    border-radius: 50%;
    left: 0;
    top: -1px;
    transition: 1s linear;
}
header .master_play .vol .dot::before {
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    border: 1px solid #36e2ec;
    border-radius: 50%;
    left: -6px;
    top: -6px;
    box-shadow: inset 0 0 3px #36e2ec;
    transition: 1s linear;
}

header .song_side {
    z-index: 2;
}

header .song_side nav {
    width: 68%;
    height: 10%;
    margin: 10px 0 0 0;
    /* border: 1px solid #fff; */
    display: flex;
    z-index: 99;
    justify-content: space-between;
    align-items: center;
    position: fixed;
}

header .song_side nav .searchForm .search {
    position: relative;
    width: 60%;
    padding: 12px 10px;
    border-radius: 20px;
    color: gray;
    margin-left: 200px;
}
header .song_side nav .searchForm .search::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 42px;
    /* padding: 1px 10px; */
    border-radius: 20px;
    /* color: gray; */
    background: rgb(105, 105, 170, 0.1);
    backdrop-filter: blur(5px);
    z-index: -1;
}
header .song_side nav .searchForm .search .bi {
    z-index: 99;
    font-size: 14px;
    padding: 0px 0 0 10px;
}
header .song_side nav .searchForm .search input {
    background: none;
    outline: none;
    border: none;
    width: 80%;
    padding: 0px 0 0 10px;
    color: #fff;
    font-size: 14px;
}
header .song_side nav .user {
    position: relative;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
}
header .song_side nav .user .img_user {
    position: absolute;

    width: 30px;
    height: 30px;
    border-radius: 50%;
    box-shadow: 2px 2px 8px #131312;
}
header .song_side nav .user .dropdow {
    position: absolute;
    bottom: -200px;
    right: -30px;
    background-color: aliceblue;
    border-radius: 8px;
    padding: 10px;
    display: none;
}
header .song_side nav .user .dropdow li {
    width: 100%;
    padding: 10px;
    border-radius: 12px;
}

header .song_side nav .user .dropdow li:hover {
    background-color: #36e2ec;
}
header .song_side nav .user .dropdow li a {
    display: block;
    width: 100%;
    color: #131312;
    size: 14px;
}
header .song_side nav .user .dropdow li:hover a {
    color: #fff;
}
header .song_side nav .user .dropdo_login {
    position: absolute;
    bottom: -70px;
    right: -30px;
    background-color: aliceblue;
    border-radius: 8px;
    padding: 10px;
    display: none;
}
header .song_side nav .user .dropdo_login li {
    width: 120px;
    padding: 10px;
    border-radius: 12px;
}
header .song_side nav .user .dropdo_login li a {
    display: block;
    width: 100%;
    color: #131312;
    size: 14px;
}
header .song_side nav .user .dropdo_login li:hover {
    background-color: #36e2ec;
}
header .song_side nav .user .dropdo_login li:hover a {
    color: #fff;
}
.dropdow .info_user {
    display: flex;
    gap: 14px;
    margin-bottom: 20px;
}
.dropdow .info_user img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}
.dropdow .info_user p {
    color: #131312;
    size: 18px;
    font-weight: 600;
    width: 200px;
    flex-wrap: wrap;
}
header .song_side .content {
    height: 500px;
    overflow: scroll;
    margin-top: 75px;
}
header .song_side .content::-webkit-scrollbar {
    display: none;
}
header .song_side .content .Thumbnail {
    width: 99%;
    height: 200px;
    /* border: 1px solid #fff; */
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    display: inline-flex;
    position: relative;
}
header .song_side .content .Thumbnail .ThubmnailPodcast {
    /* width: 1132px; */
    width: 100%;
    /* height: 200px; */
    height: 100%;
    background-size: 100% 100%;
    background-repeat: no-repeat;

    /* transform-origin: 0 0; */
    /* border-radius: 15px; */
}
header .song_side .content .Thumbnail .TitlePlaylist {
    left: 30px;
    top: 26px;
    position: absolute;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px;
    display: flex;
}
header .song_side .content .Thumbnail .Frame1 {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 8px;
    display: flex;
}
header .song_side .content .Thumbnail .Frame1 .HowToStartPodcast {
    color: white;
    font-size: 32px;
    font-weight: 700;
    word-wrap: break-word;
}
header .song_side .content .Thumbnail .Frame1 .MonthlyListeners {
    color: rgba(255, 255, 255, 0.8);
    font-size: 20px;

    font-weight: 500;
    word-wrap: break-word;
}
header .song_side .content .Thumbnail .Frame2 {
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px;
    display: inline-flex;
}
header .song_side .content .Thumbnail .Frame2:hover .Listenmusic {
    background-color: #fff;
    color: #36e2ec;
}
header .song_side .content .Thumbnail .Frame2 .Listenmusic {
    width: 42px;
    height: 42px;
    font-size: 32px;
    background: #36e2ec;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    gap: 10px;
    display: flex;
    cursor: pointer;
}
header .song_side .content .Thumbnail .Creator {
    right: 100px;
    top: 100px;
    position: absolute;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
    display: inline-flex;
}
header .song_side .content .Thumbnail .Creator .AngleLeft {
    width: 50px;
    height: 50px;
    position: relative;

    border-radius: 15px;
}
header .song_side .content .Thumbnail .Creator .Frame3 {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    display: inline-flex;
    gap: 4px;
}
header .song_side .content .Thumbnail .Creator .Frame3 .KenAdam {
    color: white;
    font-size: 16px;

    font-weight: 500;
    word-wrap: break-word;
}
header .song_side .content .Thumbnail .Creator .Frame3 .KFolAlbum {
    color: rgba(255, 255, 255, 0.6);
    font-size: 14px;

    font-weight: 500;
    word-wrap: break-word;
}
header .song_side .content .table {
    padding: 10px 0 0 20px;
    width: 97%;
}
header .song_side .content .table .PodcastItem {
    width: 832px;
    height: 40px;
    position: relative;
    border-bottom: 1px rgba(255, 255, 255, 0.03) solid;
}
header .song_side .content .table .PodcastItem .Playlist {
    width: 98px;
    left: 425px;
    top: -1px;
    position: absolute;
    color: rgba(255, 255, 255, 0.3);
    font-size: 14px;
    font-weight: 600;
    word-wrap: break-word;
}
header .song_side .content .table .PodcastItem .Title {
    left: 50px;
    top: -1px;
    position: absolute;
    color: rgba(255, 255, 255, 0.3);
    font-size: 14px;
    font-family: Quicksand;
    font-weight: 600;
    word-wrap: break-word;
}
header .song_side .content .table .PodcastItem .IDprocas {
    left: 0px;
    top: -1px;
    position: absolute;
    color: rgba(255, 255, 255, 0.3);
    font-size: 16px;
    font-weight: 600;
    word-wrap: break-word;
}
header .song_side .content .table .PodcastItem .ClockThree1 {
    width: 67px;
    height: 14px;
    left: 723px;
    top: -1px;
    position: absolute;
    color: rgba(255, 255, 255, 0.3);
    font-size: 14px;
    font-weight: 600;
    word-wrap: break-word;
}
header .song_side .content .table .PodcastItem .HeadSideHeadphones1 {
    width: 67px;
    height: 14px;
    left: 629px;
    top: -1px;
    position: absolute;
    color: rgba(255, 255, 255, 0.3);
    font-size: 14px;
    font-weight: 600;
    word-wrap: break-word;
}
header .song_side .content .table .PodcastItemMusic {
    width: 832px;
    height: 80px;
    position: relative;
    border-bottom: 1px rgba(255, 255, 255, 0.03) solid;
}
header .song_side .content .table .PodcastItemMusic:hover {
    background-color: rgb(105, 105, 170, 0.1);
}
header .song_side .content .table .PodcastItemMusic .ItemGroup {
    width: 832px;
    height: 45px;
    left: 0px;
    top: 16px;
    position: absolute;
}
header .song_side .content .table .PodcastItemMusic .ItemGroup .Rectangleimg {
    width: 45px;
    height: 45px;
    left: 50px;
    top: 0px;
    position: absolute;
    border-radius: 8px;
}
header .song_side .content .table .PodcastItemMusic .ItemGroup .FrameInfo {
    width: 196px;
    height: 38px;
    left: 115px;
    top: 3px;
    position: absolute;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    display: inline-flex;
}
header
    .song_side
    .content
    .table
    .PodcastItemMusic
    .ItemGroup
    .YourFriendsInstead {
    color: white;
    font-size: 16px;

    font-weight: 500;
    word-wrap: break-word;
}
header .song_side .content .table .PodcastItemMusic .ItemGroup .KenAdam {
    color: rgba(255, 255, 255, 0.3);
    font-size: 14px;
    font-weight: 500;
    word-wrap: break-word;
}
header .song_side .content .table .PodcastItemMusic .ItemGroup .AngleLeft {
    width: 30px;
    height: 30px;
    padding-left: 3.75px;
    padding-right: 3.75px;
    left: 0px;
    top: 8px;
    position: absolute;
    border-radius: 71.25px;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    gap: 7.5px;
    display: inline-flex;
}
header
    .song_side
    .content
    .table
    .PodcastItemMusic
    .ItemGroup
    .AngleLeft
    .Play1 {
    width: 15px;
    height: 15px;
    position: relative;
    cursor: pointer;
}
header
    .song_side
    .content
    .table
    .PodcastItemMusic
    .ItemGroup
    .HowToStartPodcast {
    width: 210px;
    left: 425px;
    top: 12px;
    position: absolute;
    color: rgba(255, 255, 255, 0.3);
    font-size: 16px;
    font-weight: 500;
    word-wrap: break-word;
}
header .song_side .content .table .PodcastItemMusic .ItemGroup .View {
    left: 629px;
    top: 12px;
    position: absolute;
    color: rgba(255, 255, 255, 0.3);
    font-size: 16px;
    font-weight: 500;
    word-wrap: break-word;
}
header .song_side .content .table .PodcastItemMusic .ItemGroup .Duration {
    left: 723px;
    top: 12px;
    position: absolute;
    color: rgba(255, 255, 255, 0.3);
    font-size: 16px;

    font-weight: 500;
    word-wrap: break-word;
}
header .song_side .content .GeneralInfoPhoto {
    /* width: 996.26px; */
    width: 100%;
    height: 202.3px;
    position: relative;
    padding: 10px 0 0 20px;
}
header .song_side .content .GeneralInfoPhoto .UserProfile {
    width: 250px;

    text-align: center;
    color: #fff;
    font-size: 24px;
    font-weight: 700;
    line-height: 20px;
    word-wrap: break-word;
    padding-bottom: 20px;
}
header .song_side .content .GeneralInfoPhoto .Gachngang {
    width: 250px;
    height: 0px;
    padding-bottom: 20px;
    border-top: 1px #d0d0d0 solid;
}
header .song_side .content .GeneralInfoPhoto .ImageUser {
    width: 466.85px;
    height: 104.6px;
    display: flex;
}
header .song_side .content .GeneralInfoPhoto .ImageUser .ImageUserItem {
    width: 105.53px;
    height: 104.6px;
    background-repeat: no-repeat;
}
header
    .song_side
    .content
    .GeneralInfoPhoto
    .ImageUser
    .ImageUserItem
    .EllipseImage {
    width: 70px;
    height: 70px;
    border: 5px white solid;
    border-radius: 10px;
}

header .song_side .content .GeneralInfoPhoto .ImageUser .infous .AlaaMohamed {
    width: 159.23px;

    color: #fff;
    font-size: 20px;
    font-weight: 700;
    word-wrap: break-word;
}
header
    .song_side
    .content
    .GeneralInfoPhoto
    .ImageUser
    .infous
    .ProductDesignEmail {
    width: 158.22px;
    color: #fff;
    font-size: 20px;
    font-weight: 400;
    word-wrap: break-word;
}
